#main_heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(maroon, brown);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: powderblue;
}
.link {
    display: inline-block;
    /* text-align: center; */
}
.professional {
    font-family: sans-serif;
    /* border: 2px solid blue; */
}
.social {
    font-family: calafia;
    /* border: 5px solid white; */
}

#my_links {
    padding: 30px;
    border: 5px solid;
    border-color: rgba(0,0,0,0);
    float: right;
    width: 20%;
    align-items:center;
    align-content: center;
    background-image: linear-gradient(rgb(57, 61, 65), rgb(57, 57, 70));
    border-radius: 25% 0% 25% 0%;
    /* text-align: center; */
}

.dp {
    border-radius: 25%;
}