#main_heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main_subheading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: radial-gradient( #3fb0ac,#173e43);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: powderblue;
}

.link {
    display: inline-block;
    padding: 5pt 0pt;
    transition:.2s;
    /* text-align: center; */
}

.professional {
    font-family: sans-serif;
    /* border: 2px solid blue; */
}

.social {
    font-family: calafia;
    /* border: 5px solid white; */
}

.link:hover {
    font-size: 20pt;
    transition: .2s;
}

#my_links {
    padding: 30px;
    /* border: 5px solid; */
    border-color: rgba(0,0,0,0);
    float: right;
    width: 20%;
    align-items:center;
    align-content: center;
    background-color: #173e43;
    min-width: 200px;
    /* background-image: linear-gradient(#3fb0ac, #173e43); */
    border-radius: 25% 0% 25% 0%;
    position: relative;
    transition:4s;
    animation-name: example;
    /* text-align: center; */
}
@keyframes example {
    0%   {background-color:#173e43; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:#173e43; left:0px; top:0px;}
  }

.dp {
    border-radius: 25%;
}

.navig {
    font-size: 20px;
    /* text-decoration: none; */
    /* margin: auto; */
    padding: 30px;
    transition: 0.2s;
}

.left {
    float:left;
}

.right {
    float:right;
}

.me {
    border: none;
}

nav {
    /* border: 2px solid red; */
    overflow: hidden;
    padding: 14px 16px;
}

.navig:hover {
    background-color: #dddfd4;
    color: black;
    opacity: 100%;
    transition: 0.05s;
}
@font-face {
    font-family: "Courier Prime";
    src: url(https://fonts.googleapis.com/css?family=Courier+Prime);
}

.ascii_art {
    background-color: white;
    color: black;
    font-family: "Courier Prime", Courier, monospace;
    padding:5%;
    color: purple;
    border-radius: 5%;
    width: 550pt;
}



.easter_link {
    opacity: 0;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out;
}

html {
    scroll-behavior: smooth;
    transition: .5s;
}